<div class="slider">
  <input type="radio" name="toggle" id="btn-1" checked />
  <input type="radio" name="toggle" id="btn-2" />
  <input type="radio" name="toggle" id="btn-3" />
  <input type="radio" name="toggle" id="btn-4" />

  <input type="radio" name="toggle" id="btn-5" />

  <div class="slider-controls">
    <label for="btn-1"></label>&nbsp; <label for="btn-2"></label>&nbsp;
    <label for="btn-3"></label>&nbsp; <label for="btn-4"></label>&nbsp;
    <label for="btn-5"></label>
  </div>

  <ul class="slides">
    <li class="slide">
      <div class="slide-content">
        <h2 class="slide-title">HIV/ADIS</h2>
        <p class="slide-text">
          Human immunodeficiency virus (HIV) is an infection that attacks the
          body’s immune system. Acquired immunodeficiency syndrome (AIDS) is the
          most advanced stage of the disease.
        </p>
        <!-- <button mat-raised-button color="accent">
          More
        </button> -->
      </div>

      <p class="slide-image">
        <img src="\assets\images\carouselImages\hiv.jpg" />
      </p>
    </li>

    <li class="slide">
      <div class="slide-content">
        <h2 class="slide-title">GONORRHOEA</h2>
        <p class="slide-text">
          Gonorrhea is a sexually transmitted disease (STD) caused by infection
          with the Neisseria gonorrhoeae bacterium. N. gonorrhoeae infects the
          mucous membranes of the reproductive tract, including the cervix,
          uterus, and fallopian tubes in women, and the urethra in women and
          men.
        </p>
      </div>
      <p class="slide-image">
        <img src="\assets\images\carouselImages\gono.jpg" />
      </p>
    </li>
    <li class="slide">
      <div class="slide-content">
        <h2 class="slide-title">SYPHILIS</h2>
        <p class="slide-text">
          Syphilis is a sexually transmitted infection (STI) that can cause
          serious health problems without treatment. Infection develops in
          stages (primary, secondary, latent, and tertiary). Each stage can have
          different signs and symptoms.
        </p>
      </div>
      <p class="slide-image">
        <img src="\assets\images\carouselImages\sipi.jpg" />
      </p>
    </li>
    <li class="slide">
      <div class="slide-content">
        <h2 class="slide-title">HERPES</h2>
        <p class="slide-text">
          Herpes simplex virus (HSV), known as herpes, is a common infection
          that can cause painful blisters or ulcers. It primarily spreads by
          skinto-skin contact. It is treatable but not curable.
        </p>
      </div>
      <p class="slide-image">
        <img src="\assets\images\carouselImages\herpes.jpg" />
      </p>
    </li>
    <li class="slide">
      <div class="slide-content">
        <h2 class="slide-title">CHLAMYDIAE</h2>
        <p class="slide-text">
          Chlamydia is a common STD that can cause infection among both men and
          women. It can cause permanent damage to a woman's reproductive system.
          This can make it difficult or impossible to get pregnant later.
          Chlamydia can also cause a potentially fatal ectopic pregnancy
          (pregnancy that occurs outside the womb).
        </p>
      </div>
      <p class="slide-image">
        <img src="\assets\images\carouselImages\chl.jpg" />
      </p>
    </li>
  </ul>
</div>
