<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>What is STDs?</mat-card-title>
    <mat-card-subtitle>sexually transmitted diseases</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="\assets\images\carouselImages\hiv.jpg"

  />
  <mat-card-content>
    <p>
      Sexually transmitted diseases (STDs), or sexually transmitted infections
      (STIs), are infections that are passed from one person to another through
      sexual contact. They are usually spread during vaginal, oral, or anal sex.
      But sometimes they can spread through other sexual contact involving the
      penis, vagina, mouth, or anus. This is because some STDs, like herpes and
      HPV, are spread by skin-to-skin contact.
    </p>
  </mat-card-content>

</mat-card>
