<div class="background">
  <h1 class="block-effect" style="--td: 3.2s;">
    <div class="waviy">
      <div class="block-reveal" style="--bc: #4040bf; --d: 0.5s;">
        <span style="--i: 1;">L</span>&nbsp;
        <span style="--i: 2;">E</span>&nbsp;
        <span style="--i: 3;">T'</span>&nbsp;
        <span style="--i: 5;">S</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="--i: 6;">L</span>&nbsp;
        <span style="--i: 7;">I</span>&nbsp;
        <span style="--i: 8;">V</span>&nbsp;
        <span style="--i: 9;">E</span>&nbsp;
        <span style="--i: 10;"></span>
        <span style="--i: 11;">
          &nbsp;<mat-icon class="icon-display">favorite</mat-icon> </span
        >&nbsp;
      </div>
      <div class="block-reveal" style="--bc: #bf4060; --d: 0.1s;"></div>
    </div>
  </h1>
  <div class="heart" (click)="openHivDialog()">
    What are sexually transmitted diseases (STDs) ?&nbsp;<br />

    <mat-icon class="searchIcon">search</mat-icon>
  </div>
  <div class="slide-option">
    <div id="stffull" class="highway-slider">
      <div class="container highway-barrier">
        <ul class="highway-lane">
          <li class="highway-car">
            <h4><b>What are sexually transmitted diseases (STDs)?</b></h4>
          </li>
          <li class="highway-car">
            <h4>
              STDs/STIs are infections transmitted through sexual contact.
            </h4>
          </li>
          <li class="highway-car">
            <h4>
              They can be spread during vaginal, oral, or anal sex, as well as
              through skin-to-skin contact
            </h4>
          </li>
          <li class="highway-car">
            <h4>
              Common STDs include chlamydia, gonorrhea, syphilis, genital
              herpes, HPV, and HIV.
            </h4>
          </li>
          <li class="highway-car">
            <h4>
              <span class="fas fa-magic"></span> Safe sex practices, regular
              testing, and open communication with partners are important for
              prevention.
            </h4>
          </li>
          <li class="highway-car">
            <h4>
              <span class="fas fa-magic"></span> Some STDs can be treated, while
              others are lifelong conditions. Education and healthcare access
              are crucial.
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div><app-carousel></app-carousel></div>
</div>
