.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("/assets/images/logo/std-logo.png");
  background-size: cover;
}
.mat-card-conten {
  background-color: rgb(184, 177, 177);
}
