<div class="preventDash">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    color="accent"
  >
    <!-- First Tab Start -->
    <mat-tab label="More about prevention of STD">
      <div class="page-curl shadow-bottom">
        <h2>More about prevention of STD</h2>
        <p>
          The same can be said about STDs. They infect people regardless of
          ethnicity, gender, religion, or sexual orientation and have no
          intrinsic moral or immoral elements. Educating and raising awareness
          about STDs can help reduce their stigma and give you more control over
          your reproductive health. Both STIs that cause symptoms and those that
          don't. A person who has a STI can spread it to others through coming
          into touch with their mouth, rectum, genitalia, or body fluids. This
          includes physical touch during oral, anal, or vaginal intercourse.
          Your health may be impacted even if there are no symptoms.
        </p>
      </div>
      <div class="page-curl shadow-bottom">
        <h3>What is an STD?</h3>
        <p>
          Sexually Transmitted Diseases are referred to as STDs. The
          transmission of STDs occurs through anal, oral, and vaginal
          intercourse. Intimate physical contact, such as vigorous petting, can
          also spread them, though this is less usual.
        </p>
        <h3>What cause for Sexual transmitted diseases?</h3>
        <p>
          STIs are brought on by bacterial or viral infections. Antibiotics are
          used to treat STIs that are bacterial in origin. STIs brought on by
          viruses are incurable, although symptoms can be managed. Tests can be
          performed to determine infection even if there are no symptoms. You
          can take precautions to avoid spreading a STI to others by being
          tested to find out if you have one.
        </p>
        <h3>Why is STD testing important?</h3>
        <p>
          The only way to determine if you have an STD is to take an STD test.
          Depending on your concerns and those of your healthcare professional,
          there are various types of STD testing available, but they are all
          often rapid and painless. Testing is crucial because, even if you
          aren't exhibiting any symptoms or signs, you could unintentionally
          infect your spouse. STDs can have major long-term health consequences
          if they are not treated, including infertility, pelvic inflammatory
          disease, and cervical cancer.
        </p>
      </div>
    </mat-tab>

    <!-- 1st tab End -->

    <!-- 2nd tab start -->
    <mat-tab label="How can I prevent STDs?">
      <div class="page-curl shadow-bottom">
        <h2>How can I prevent STDs</h2>
        <p>
          The most effective way to prevent infection is to avoid any sexual
          activity, whether it be anal, vaginal, or oral, but this may not be
          practical.
        </p>
      </div>
      <div class="page-curl shadow-bottom">
        <ul>
          <li>
            <h3>Get Vaccinated</h3>
            <ul>
              <li>
                <p>
                  A crucial first step in preventing STD transmission is
                  understanding your STD status. You can take precautions to
                  keep yourself and your partners safe if you are aware that you
                  are infected. You can unintentionally infect your spouse even
                  if you are asymptomatic or not experiencing any changes in
                  your health
                </p>
              </li>
            </ul>
          </li>
          <li>
            <h3>Get Tested</h3>
            <ul>
              <li>
                <p>
                  STIs are brought on by bacterial or viral infections.
                  Antibiotics are used to treat STIs that are bacterial in
                  origin. STIs brought on by viruses are incurable, although
                  symptoms can be managed. Tests can be performed to determine
                  infection even if there are no symptoms. You can take
                  precautions to avoid spreading a STI to others by being tested
                  to find out if you have one.
                </p>
              </li>
            </ul>
          </li>

          <li>
            <h3>Use Condoms</h3>
            <ul>
              <li>
                <p>
                  In order to reduce the spread of STDs, latex condoms must be
                  used correctly and consistently. Every time you engage in
                  anal, vaginal, or oral sex, use a condom.
                </p>
              </li>
            </ul>
          </li>

          <li>
            <h3>Mutual monogamy</h3>
            <ul>
              <li>
                <p>
                  Reduced risk of catching STDs can result from being in a
                  mutually monogamous relationship with a partner who has
                  undergone testing and is known to be STD-free. Before
                  participating in sexual activity, it's crucial to have an open
                  and honest discussion about your sexual history and be tested
                  jointly
                </p>
              </li>
            </ul>
          </li>
          <li>
            <h3>Dental Dams and Condoms for Oral sex</h3>
            <ul>
              <li>
                <p>
                  To lower the risk of STD transmission during oral sex, dental
                  dams or condoms can be used as barriers. To avoid direct
                  touch, these safety barriers can be installed over the
                  genitalia or the anus.
                </p>
              </li>
            </ul>
          </li>
          <li>
            <h3>Avoiding Risky Sexual Behaviors</h3>
            <ul>
              <li>
                <p>
                  The likelihood of catching and spreading STDs rises when one
                  engages in high-risk sexual behaviors, such as unprotected
                  intercourse, having several sexual partners, or using
                  intravenous drugs. Keeping these actions to a minimum can help
                  decrease.
                </p>
              </li>
            </ul>
          </li>
          <li>
            <h3>Communication and Education</h3>
            <ul>
              <li>
                <p>
                  It's crucial to have open discussions about STDs, testing, and
                  safe sex practices with sexual partners. To make informed
                  decisions about sexual health, stay aware on the various STD
                  types, their symptoms, and how they are transmitted.
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </mat-tab>
    <!-- 2nd tab end -->

    <!-- 3rd tab start -->
    <mat-tab label="Modes of Transmission of HIV……..?"
      ><div class="page-curl shadow-bottom">
        <h2>Modes of Transmission of HIV</h2>
        <p>
          The modes of transmission of HIV include sexual contact, sharing
          contaminated needles, mother-to-child transmission during childbirth
          or breastfeeding, and rare cases of occupational exposure.
        </p>
      </div>
      <div class="page-curl shadow-bottom">
        <h3>Sexual transmission</h3>
        <ul>
          <li>Peno- vaginal</li>
          <li>Peno -anal</li>
          <li>Peno-oral</li>
          <li>Peno -vaginal</li>
        </ul>
      </div>

      <div class="page-curl shadow-bottom">
        <h3>Blood and blood products</h3>
        <ul>
          <li>Sharing needles, syringes</li>
          <li>Percutaneous injuries by contaminated instruments, needles</li>
          <li>Through unscreened blood / products</li>
        </ul>
      </div>
      <div class="page-curl shadow-bottom">
        <h3>Mother to child</h3>
        <ul>
          <li>During pregnancy</li>
          <li>During delivery</li>
          <li>During breast feeding</li>
        </ul>
      </div>
    </mat-tab>
    <!-- 3rd tab end -->

    <!-- 4th tab start -->
    <mat-tab label="Some debunking HIV myths">
      <div class="page-curl shadow-bottom">
        <h2>Some debunking HIV myths</h2>
        <p>
          HIV myths debunked: It cannot be transmitted through casual contact,
          cured by alternative therapies, transmitted through mosquito bites, or
          limited to specific groups of people.
        </p>
      </div>
      <div class="page-curl shadow-bottom">
        <h3>ADIS is deadly</h3>
        <ul>
          <li>
            ADIS is not deadly disease , now HIV can successfully be controlled.
          </li>
        </ul>

        <h3>Healthy looking persons are not having HIV</h3>
        <ul>
          <li>
            Most people don’t have symptoms and signs of HIV infection
          </li>
        </ul>
        <h3>Casual sex is safer than commercial sex</h3>
        <ul>
          <li>
            Unprotected sex with anybody who is not mutually faithful could be
            risky
          </li>
        </ul>
        <h3>
          Withdrawal method(coitus interrupts of “pulling out”) can prevent HIV
        </h3>
        <ul>
          <li>
            Contamination with vaginal, anal or pre seminal fluids can transmit
            HIV. Not necessary to ejaculate for the infection
          </li>
        </ul>
        <h3>If both partners have HIV , there’s no reason for a condom</h3>
        <ul>
          <li>
            Still need to use condoms. It is possible to transmit a different
            strain of HIV or another STD to a partner.
          </li>
        </ul>
        <h3>HIV can be cured by herbal medicine</h3>
        <ul>
          <li>
            So far there are no proven herbal medicines for HIV.
          </li>
        </ul>
        <h3>
          HIV infected people will have poor quality of life and will die soon
        </h3>
        <ul>
          <li>
            Now there are good effective treatments to control the virus and can
            lead near normal life.
          </li>
        </ul>
        <h3>
          HIV women can’t get pregnant
        </h3>
        <ul>
          <li>
            With proper treatment and follow up, HIV infected mother can have
            healthy babies without HIV.
          </li>
        </ul>
      </div>
    </mat-tab>
    <!-- 4th tab end -->
  </mat-tab-group>
</div>
