<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>You can Predict </mat-card-title>
  </mat-card-header>

  <mat-card-content class="mat-card-conten">
    <p>
      In Future data part ,you can get prediction about your diseases. According
      your entered details about diseases we give prediction and also generate
      the report. so, you can easily get sense about it.
    </p>
  </mat-card-content>
</mat-card>
