<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Registration Form</h2>
    </div>
    <div class="loader-container" *ngIf="loading">
      <main>
        <svg
          class="ip"
          viewBox="0 0 256 128"
          width="256px"
          height="128px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
              <stop offset="0%" stop-color="#5ebd3e" />
              <stop offset="33%" stop-color="#ffb900" />
              <stop offset="67%" stop-color="#f78200" />
              <stop offset="100%" stop-color="#e23838" />
            </linearGradient>
            <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
              <stop offset="0%" stop-color="#e23838" />
              <stop offset="33%" stop-color="#973999" />
              <stop offset="67%" stop-color="#009cdf" />
              <stop offset="100%" stop-color="#5ebd3e" />
            </linearGradient>
          </defs>
          <g fill="none" stroke-linecap="round" stroke-width="16">
            <g class="ip__track" stroke="#ddd">
              <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
              <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
            </g>
            <g stroke-dasharray="180 656">
              <path
                class="ip__worm1"
                stroke="url(#grad1)"
                stroke-dashoffset="0"
                d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"
              />
              <path
                class="ip__worm2"
                stroke="url(#grad2)"
                stroke-dashoffset="358"
                d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"
              />
            </g>
          </g>
        </svg>
      </main>
    </div>
    <div class="row clearfix">
      <div *ngIf="!loading">
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && !loading && onSubmit() "
          #f="ngForm"
          novalidate
        >
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
              required
              placeholder="Username"
            />
          </div>
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="3"
              #password="ngModel"
              placeholder="Password"
            />
          </div>
          <div class="input_field">
            <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input
              type="password"
              class="form-control"
              name="retypepassword"
              [(ngModel)]="form.retypepassword"
              placeholder="Re-type Password"
              #retypepassword="ngModel"
              required
            />
          </div>
          <!-- <div class="row clearfix">
            <div class="col_half">
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" name="name" placeholder="First Name" />
              </div>
            </div> -->

          <!-- <div class="col_half">
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input
                  type="text"
                  name="name"
                  placeholder="Last Name"
                  required
                />
              </div>
            </div>
          </div>
          <div class="input_field radio_option">
            <input type="radio" name="radiogroup1" id="rd1" />
            <label for="rd1">Male</label>
            <input type="radio" name="radiogroup1" id="rd2" />
            <label for="rd2">Female</label>
          </div>
          <div class="input_field select_option">
            <select>
              <option>Select a country</option>
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
            <div class="select_arrow"></div>
          </div>

          <div class="input_field checkbox_option">
            <input type="checkbox" id="cb2" />
            <label for="cb2">I want to receive the newsletter</label>
          </div> -->
          <input class="button" type="submit" value="Register" />
          <div
            class="alert alert-warning"
            *ngIf="f.submitted && isSignUpFailed"
          >
            <br />{{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
