<form action="">
  <!--  General -->
  <div class="form-group">
    <h2 class="heading">Medical Results & Summery</h2>
    <div class="controls">
      <input type="text" id="name" class="floatLabel" name="name" />
      <label for="name">Name</label>
    </div>
    <div class="controls">
      <input type="text" id="email" class="floatLabel" name="email" />
      <label for="email">Age</label>
    </div>
    <div class="controls">
      <input type="tel" id="phone" class="floatLabel" name="phone" />
      <label for="phone">Gender</label>
    </div>
    <div class="controls">
      <input type="tel" id="phone" class="floatLabel" name="phone" />
      <label for="phone">Diagnosis</label>
    </div>
  </div>
  <!--  Details -->
  <div class="form-group">
    <h2 class="heading">Symptoms</h2>
    <div class="grid">
      <p class="info-text">
        Please describe your needs e.g. Extra beds, children's cots
      </p>
      <br />
      <div class="controls">
        <textarea name="comments" class="floatLabel" id="comments"></textarea>
        <label for="comments">Comments</label>
      </div>
      <button type="submit" value="Submit" class="col-1-4">Print</button>
    </div>
  </div>
  <!-- /.form-group -->
</form>
