<!-- <div class="space"> -->
<div class="container">
  <div class="section-header">
    <h2 class="section-title wow fadeInDown">Who we are</h2>
  </div>
</div>

<section>
  <div class="image">
    <img
      src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png"
    />
  </div>

  <div class="content">
    <span><!-- line here --></span>
    <p>
      This web application aims to address the issue of sexually transmitted
      diseases (STDs) by providing a platform for users to receive a diagnosis
      based on their symptoms and connect with an AI chatbot for further
      information. The application will offer information about various STDs,
      including their transmission methods and strategies to reduce the risk of
      infection. Additionally, the system will gather users' information
      regarding their past sexual behavior. The goal is to limit the spread of
      STDs and mitigate the complications associated with these diseases.
    </p>

    <ul class="links">
      <li><a (click)="openHivDialog()">Do You Know? </a></li>
      <div class="vertical-line"></div>
      <li><a (click)="  openPredDialog()">You can Predict </a></li>
      <div class="vertical-line"></div>
      <li><a (click)="openBotDialog()">STD Bot </a></li>
    </ul>
    <ul class="icons">
      <li>
        <i class="fa fa-twitter"></i>
      </li>
      <li>
        <i class="fa fa-facebook"></i>
      </li>
      <li>
        <i class="fa fa-github"></i>
      </li>
      <li>
        <i class="fa fa-pinterest"></i>
      </li>
    </ul>
  </div>
</section>
<br /><br />
<!-- </div> -->
