<div class="space">
  <div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="scroler">
          <div class="screen-body">
            <div *ngIf="!isFulidColor">
              <app-fluid-detector></app-fluid-detector>
            </div>
            <div *ngIf="isFulidColor">
              <app-pred-form></app-pred-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
